@use '../../styles/design-system/colors' as colors;
@use '../../styles/design-system/typography' as *;
@use '../../styles/abstracts/variables' as *;

.invoice {
  width: 100%;
  max-width: 385px;
  padding: 24px;
  border-radius: 16px;
  background-color: colors.$white;
  position: sticky;
  top: 88px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  h2 {
    color: colors.$red;
  }

  &__empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 16px;

    p {
      @include text-preset-4;
      color: colors.$rose-500;
    }
  }

  @media (max-width: $breakpoint-lg) {
    min-width: 95%;
  }

  .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid colors.$rose-100;

    &__details {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__name {
        @include text-preset-4;
        color: colors.$rose-900;
      }

      &__price {
        @include text-preset-4;
        color: colors.$rose-900;
        display: inline-flex;
        gap: 8px;

        span {
          @include text-preset-4;
          color: colors.$rose-500;

          &:first-child {
            color: colors.$red;
          }
        }
      }
    }

    &__button {
      border: 1px solid colors.$rose-400;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      

      &:hover {
        background-color: colors.$rose-400;

        svg {
          path {
            fill: colors.$white;
          }
        }
      }
    }
  }
}