@use 'sass:color';

// Rose Color Palette
$rose-900: #260F08;  // Dark Rose
$rose-500: #87635A;  // Medium Rose
$rose-400: #AD8A85;  // Light Medium Rose
$rose-300: #CAAFA7;  // Light Rose
$rose-100: #F5EEEC;  // Very Light Rose
$rose-50:  #FCF8F6;  // Lightest Rose

// Red Color Palette
$red: #C73B0F;  // Base Red

// Green Color Palette
$green: #1EA575;  // Base Green

// Monochrome Color Palette
$black: #000000;
$white: #FFFFFF;
