// Typography
$font-family-base: 'Red Hat Text', sans-serif;

// Font Sizes
$font-size-xl: 40px;
$font-size-lg: 24px;
$font-size-md: 16px;
$font-size-sm: 14px;

// Line Heights
$line-height-xl: 120%;
$line-height-lg: 125%;
$line-height-md: 150%;
$line-height-sm: 150%;

// Letter Spacing
$letter-spacing-default: 0px;

// Font Weights
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700; 