@use '../../styles/design-system/colors' as colors;
@use '../../styles/design-system/typography' as *;

.product-image {
  width: 100%;
  height: 240px;
  border-radius: 8px;

  img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
