@use '../abstracts' as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-md;
}

h1, .h1 {
  font-size: $font-size-xl;
  line-height: $line-height-xl;
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-lg;
}

h2, .h2 {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-md;
}

h3, .h3 {
  font-size: $font-size-md;
  line-height: $line-height-md;
  font-weight: $font-weight-semibold;
  margin-bottom: $spacing-sm;
}

h4, h5, h6 {
  margin-bottom: $spacing-md;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-bottom: $spacing-md;
}

.text {
  &--small {
    font-size: 0.875rem;
  }

  &--large {
    font-size: 1.125rem;
  }

  &--bold {
    font-weight: 700;
  }

  &--italic {
    font-style: italic;
  }
}
